/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #222126; 
}
/*.example-card {
    max-width: 800px;
  }*/
   p, h1, h2, h3, h4,h5 {
    color: white !important;
  }
  /*.container{
    
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
  } */
 /*.example-card {
    height: 570px;*/
 
 h1 {
    color: white !important;
 }
 .search-card {
    height: 200px;
 }
 .search-card {
    width: 850px;
    height: auto;
 }
 .search-form {
    display: flex;
    justify-content: left;
    gap: 5px;
 }
 
